<!-- <app-header-three></app-header-three> -->
<app-header-one [class]="'header-tools'"></app-header-one>

<!-- Home slider start-->
<section class="p-0 height-85 tools_slider"
  [ngStyle]="{'background-image': 'url(assets/images/slider/22-1.jpg)', 'background-size': 'cover'}">
  <owl-carousel-o [options]="HomeSliderConfig" class="home-slider">
    <ng-template carouselSlide>
      <div class="home text-center">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="slider-contain">
                <div>
                  <h4>welcome to PinArtes</h4>
                  <h1>Piñatas</h1>
                  <a [routerLink]="['/shop/collection/infinitescroll']" [queryParams]="{ collection: 'Piñata'}"
                    class="btn btn-solid">shop now</a>
                </div>
              </div>
            </div>
          </div>
          <div class="tools-parts" id="tools-move">
            <img src="assets/images/pinata3D-2.png" style="width: 250px;" class="img-fluid floating2" alt="">
          </div>
          <div class="tools-parts1" id="tools-move1">
            <img src="assets/images/pinata3D-1.png" style="width: 300px;" class="img-fluid floating" alt="">
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="home text-center">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="slider-contain">
                <div>
                  <h4>welcome to PinArtes</h4>
                  <h1>Piggy bank</h1>
                  <a [routerLink]="['/shop/collection/infinitescroll']" [queryParams]="{ collection: 'Piggy bank'}"
                    class="btn btn-solid">shop now</a>
                </div>
              </div>
            </div>
          </div>
          <div class="tools-parts" id="tools-move2">
            <img src="assets/images/piggy-bank3D.png" style="width: 250px;" class="img-fluid floating" alt="">
          </div>
        </div>
      </div>
    </ng-template>
  </owl-carousel-o>
</section>
<!-- Home slider End -->

<!-- Services -->
<section class="banner-padding absolute-banner pb-0">
  <div class="container absolute-bg">
    <div class="service p-0 ">
      <app-services></app-services>
    </div>
  </div>
</section>
<!-- Services end -->

<!-- product section -->
<section class="section-b-space">
  <div class="container2">
    <div class="row">
      <div class="col">
        <div class="title4">
          <h2 class="title-inner4">trending products</h2>
          <div class="line">
            <span></span>
          </div>
        </div>
        <!-- <div class="d-flex justify-content-center gap-4" *ngIf="!products.length || products.length == 0">
          <div *ngFor="let item of skeletons">
            <ngx-skeleton-loader count="1" appearance="circle" [theme]="{
            width: '250px',
            height: '350px',
            'border-radius': '10px'
          }" />

          </div>
        </div>
        <owl-carousel-o class="product-5 product-m no-arrow" [options]="ProductSliderConfig">
          <ng-container *ngFor="let product of products ">
            <ng-template carouselSlide>
              <div class="product-box product-wrap">
                <app-product-box-two [product]="product" [currency]="productService?.Currency">
                </app-product-box-two>
              </div>
            </ng-template>
          </ng-container>
        </owl-carousel-o> -->
        <owl-carousel-o class="product-5 product-m no-arrow" [options]="ProductSliderConfig">
          <ng-container *ngIf="(!products.length || products.length == 0) && isMobile">
            <ng-template carouselSlide *ngFor="let item of skeletons">
              <div class="product-box">
                <ngx-skeleton-loader count="1" appearance="circle" [theme]="{
                  width: '150px',
                  height: '220px',
                  'border-radius': '10px'
                }"></ngx-skeleton-loader>
              </div>
            </ng-template>
          </ng-container>
          <ng-container *ngIf="(!products.length || products.length == 0) && !isMobile">
            <ng-template carouselSlide *ngFor="let item of skeletons">
              <div class="product-box">
                <ngx-skeleton-loader count="1" appearance="circle" [theme]="{
                  width: '250px',
                  height: '350px',
                  'border-radius': '10px'
                }"></ngx-skeleton-loader>
              </div>
            </ng-template>
          </ng-container>
        
          <ng-container *ngIf="products.length > 0">
            <ng-template carouselSlide *ngFor="let product of products">
              <div class="product-box product-wrap">
                <app-product-box-two [product]="product" [currency]="productService?.Currency"></app-product-box-two>
              </div>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</section>
<!-- product section end -->

<!-- Parallax banner -->
<section class="p-0">
  <div class="full-banner parallax-banner15 parallax text-start p-left"
    [ngStyle]="{'background-image': 'url(assets/images/parallax/parallax.jpg)'}">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="banner-contain d-flex flex-column align-items-center gap-3">
            <h5>SPECIAL OFFER FOR YOU</h5>
            <h4>we understand that every customer has unique needs. Whether you're looking to
              customize a product to fit your specific requirements or you're interested in purchasing large quantities
              at a discounted rate, we're here to help.</h4>
            <a [routerLink]="['/pages/contact']" class="btn btn-solid">Get in Touch</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Parallax banner end -->

<!-- product-box slider -->
<section>
  <div class="full-box">
    <div class="container">
      <div class="title4">
        <h2 class="title-inner4">special products</h2>
        <div class="line">
          <span></span>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-md-4">
          <div class="theme-card center-align">
            <div class="offer-slider">
              <div class="d-flex flex-column gap-3">
                <div class="product-box" *ngFor="let product of specialsProducts | slice:0:2">
                  <app-product-box-one [product]="product" [currency]="productService?.Currency" [thumbnail]="true"
                    [cartModal]="true">
                  </app-product-box-one>
                </div>
                <ng-container *ngIf="!specialsProducts.length || specialsProducts.length == 0">
                  <div class="product-box d-flex justify-content-center" *ngFor="let product of skeletonsSpecial">
                    <ngx-skeleton-loader count="1" appearance="circle" [theme]="{
                      width: '250px',
                      height: '300px',
                      'border-radius': '10px'
                    }"></ngx-skeleton-loader>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="theme-card center-align">
            <div class="offer-slider">
              <div class="d-flex flex-column gap-3">
                <div class="product-box" *ngFor="let product of specialsProducts | slice:2:4">
                  <app-product-box-one [product]="product" [currency]="productService?.Currency" [thumbnail]="true"
                    [cartModal]="true">
                  </app-product-box-one>
                </div>
                <ng-container *ngIf="!specialsProducts.length || specialsProducts.length == 0">
                  <div class="product-box d-flex justify-content-center" *ngFor="let product of skeletonsSpecial">
                    <ngx-skeleton-loader count="1" appearance="circle" [theme]="{
                      width: '250px',
                      height: '300px',
                      'border-radius': '10px'
                    }"></ngx-skeleton-loader>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="theme-card center-align">
            <div class="offer-slider">
              <div class="d-flex flex-column gap-3">
                <div class="product-box" *ngFor="let product of specialsProducts | slice:4:6">
                  <app-product-box-one [product]="product" [currency]="productService?.Currency" [thumbnail]="true">
                  </app-product-box-one>
                </div>
                <ng-container *ngIf="!specialsProducts.length || specialsProducts.length == 0">
                  <div class="product-box d-flex justify-content-center" *ngFor="let product of skeletonsSpecial">
                    <ngx-skeleton-loader count="1" appearance="circle" [theme]="{
                      width: '250px',
                      height: '300px',
                      'border-radius': '10px'
                    }"></ngx-skeleton-loader>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- product-box slider end -->

<!-- blog section start-->
<!-- <section class="blog section-b-space pt-0">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="title1 section-t-space">
          <h4>Recent Story</h4>
          <h2 class="title-inner1">from the blog</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <app-blog [blogs]="blogs"></app-blog>
      </div>
    </div>
  </div>
</section> -->
<!-- blog section end -->

<!-- Cart Open To Right Side-->
<app-cart-variation [direction]="'right'"></app-cart-variation>
<app-footer-one></app-footer-one>